{% extends "base.html" %}
{% block content %}

<h4>Create Poll</h4>

<form method="POST" class="card p-4 shadow">
    <div class="mb-3">
        <label class="form-label">Poll Title</label>
        <input name="title" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Options (comma separated)</label>
        <textarea name="options" class="form-control" required></textarea>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="allow_multiple">
        <label class="form-check-label">Allow multiple selection</label>
    </div>

    <button class="btn btn-success">Create</button>
</form>

{% endblock %}
