{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="card p-4">
      <h4 class="fw-bold mb-3">{{ poll.title }}</h4>

      <form method="POST">
        {% for option in options %}
          <div class="form-check mb-2">
            <input
              class="form-check-input"
              type="{{ 'checkbox' if poll.allow_multiple else 'radio' }}"
              name="option"
              value="{{ option }}"
              required
            >
            <label class="form-check-label">
              {{ option }}
            </label>
          </div>
        {% endfor %}

        <button class="btn btn-primary w-100 mt-3">
          Submit Vote
        </button>
      </form>
    </div>

  </div>
</div>

{% endblock %}
