{% extends "base.html" %}
{% block content %}

<h4>{{ poll.title }}</h4>

<form method="POST" class="card p-4 shadow">
    {% for opt in poll.option_list() %}
        <div class="form-check mb-2">
            <input class="form-check-input"
                   type="{{ 'checkbox' if poll.allow_multiple else 'radio' }}"
                   name="option"
                   value="{{ opt }}">
            <label class="form-check-label">{{ opt }}</label>
        </div>
    {% endfor %}

    <button class="btn btn-success mt-3">Submit Vote</button>
</form>

{% endblock %}
